.container {
  max-width: 850px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
}

.article {
  margin-bottom: 40px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.postTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.postDate {
  color: #888;
  margin-bottom: 10px;
}

.postContent {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.readMoreLink {
  color: #007aff;
  text-decoration: underline;
  font-weight: bold;
}

.readMoreLink:hover {
  text-decoration: underline wavy;
}

.footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
  padding-top: 20px;
  border-top: 1px solid var(--gray50);
}

.footer p {
  margin: 0;
  color: var(--gray50);
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .container {
    margin-top: 80px;
  }
}
