:root {
  --bg: #ffffff;
  --bgSoft: #353535;
  --text: #000000;
  --textSoft: #0e6ba8;
  --gray50: #acacac50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.25s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}
