.container {
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}

.main {
  text-align: left;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.date {
  color: #888;
  margin-bottom: 20px;
}

.content {
  font-size: 16px;
  line-height: 1.6;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.backButton {
  margin-left: auto;
  margin-top: 20px;
  padding: 10px;
  max-width: 120px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--bgSoft);
  padding: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.backButton:hover {
  transform: scale(1.05);
}

.footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.footer p {
  margin: 0;
  color: #888;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .container {
    margin-top: 80px;
  }
}
